@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.woff2?t=1638701212788') format('woff2'),
        url('fonts/iconfont.woff?t=1638701212788') format('woff'),
        url('fontsiconfont.ttf?t=1638701212788') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input {
    outline: none;
}

body>div {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.tj-head,
.search-head {
    display: flex;
    justify-content: center;
}

.tuijian .tj-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tuijian .tj-body div {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 180px;
    font-size: 10px;
    margin-top: 10px;
    margin-right: 24px;
    border-radius: 5px;
    overflow: hidden;
}

.tuijian .tj-body div img {
    width: 100%;
}

.tuijian .tj-body div .playCount {
    position: absolute;
    top: 0;
    right: 5px;
    color: #fff;
    font-size: 1px;
}

.search-limit {
    margin-left: 10px;
}

.search-body {
    position: relative;
}

.song-head {
    display: none;
}

.song-list li,
.song-head {
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 4px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.song-list li:hover {
    color: skyblue;
}

.song-list li:nth-child(2n-1) {
    background-color: #ddd;
}

.song-head span,
.song-list span {
    position: absolute;
    top: 50%;
    left: 420px;
    transform: translateY(-50%);
}

.search-body .before {
    left: 20px;
}

.search-body .after {
    left: 580px;
}

.offset {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
}

.offset-button span,
.forword,
.backword {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #ccc;
    cursor: pointer;
}

.offset-button span:hover,
.forword:hover,
.backword:hover {
    color: skyblue;
}

.offset-button span {
    padding-bottom: 3px;
}

.forword,
.backword {
    padding-top: 3px;
}

.checked {
    color: red !important;
}

.offset-input input {
    width: 20px;
}

audio {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
}