@font-face {
  font-family: "iconfont"; /* Project id 2837925 */
  src: url('iconfont.woff2?t=1635922713333') format('woff2'),
       url('iconfont.woff?t=1635922713333') format('woff'),
       url('iconfont.ttf?t=1635922713333') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrCode:before {
  content: "\e67a";
}

.icon-gou:before {
  content: "\e63b";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-qq:before {
  content: "\e6ca";
}

.icon-weibo:before {
  content: "\e679";
}

.icon-yanjing:before {
  content: "\e8c7";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-up-circle:before {
  content: "\e666";
}

.icon-arrow-right-circle:before {
  content: "\e667";
}

.icon-arrow-down:before {
  content: "\e668";
}

.icon-ashbin:before {
  content: "\e669";
}

.icon-arrow-right:before {
  content: "\e66a";
}

.icon-bottom:before {
  content: "\e66b";
}

.icon-back:before {
  content: "\e66c";
}

.icon-bad:before {
  content: "\e66d";
}

.icon-arrow-double-left:before {
  content: "\e66e";
}

.icon-arrow-left-circle:before {
  content: "\e66f";
}

.icon-arrow-double-right:before {
  content: "\e670";
}

.icon-caps-lock:before {
  content: "\e671";
}

.icon-camera:before {
  content: "\e672";
}

.icon-chart-bar:before {
  content: "\e673";
}

.icon-attachment:before {
  content: "\e674";
}

.icon-close:before {
  content: "\e675";
}

.icon-check-item:before {
  content: "\e676";
}

.icon-comment:before {
  content: "\e677";
}

.icon-direction-down:before {
  content: "\e678";
}

